.hidden {
    display: none;
}

/* Fondos como antes */
.auth--login .auth__side {
    background: radial-gradient(circle at left, var(--bg-blue) 0%, transparent 70%);
}

.auth--register .auth__side {
    background: radial-gradient(circle at right, var(--bg-blue) 0%, transparent 70%);
}

/* ---------- REGISTER SIDE IMAGE ---------- */

/* Register */

.auth--register .auth__side {
    background-image: url("../../assets/Icons_sesión/register-side.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Login */

.auth--login .auth__side {
    position: relative;
    overflow: hidden;
}

.auth--login .auth__side::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image: url("../../assets/Icons_sesión/register-side.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transform: scaleX(-1);
    z-index: 0;
}

/* El contenido va por encima */
.auth--login .auth__side > * {
    position: relative;
    z-index: 1;
}

