.auth--login .auth__side {
    position: relative;
    background-image: url("../../assets/Icons_sesión/register-side-login.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
