.auth--register .auth__side {
    position: relative;
    background-image: url("/assets/Icons sesión/register-side.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
