body {
    height: 100vh;
    font-family: var(--font-main);
    color: var(--white);
    background: url("/assets/images/home_bg.png") center / cover no-repeat;
    overflow: hidden;
}

/* CENTRO */
.home-center {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    pointer-events: none;
}

.logo-text {
    width: 30vw;
}

.logo-symbol {
    width: 12vw;
}

/* NAVBAR */
.home-nav {
    position: absolute;
    bottom: 20vh;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    gap: 28px;
    padding: 18px 34px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 24px;
}

.home-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-nav img {
    width: 26px;
    height: 26px;
    opacity: 0.9;
}

/* PERFIL */
.home-avatar {
    position: absolute;
    bottom: 32px;
    left: 32px;

    width: 42px;
    height: 42px;
    border-radius: 50%;

    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .4);
}