body {
    height: 100vh;
    font-family: var(--font-main);
    color: var(--white);
    background: url("/assets/images/home_bg.png") center / cover no-repeat;
}

/* CENTRO */
.home-center {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.home-center .logo-text {
    width: 280px;
}

.home-center .logo-symbol {
    width: 140px;
}

/* NAVBAR */
.home-nav {
    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 32px;
    padding: 20px 36px;

    background: var(--glass-bg);
    backdrop-filter: var(--glass-blur);
    border: 1px solid var(--glass-border);
    border-radius: 24px;
}

/* ICONOS */
.home-nav img {
    width: 28px;
    height: 28px;
    opacity: .9;
    cursor: pointer;
}

/* AVATAR */
.home-avatar {
    position: absolute;
    bottom: 32px;
    left: 32px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid var(--white);
}