body {
    height: 100vh;
    font-family: var(--font-main);
    color: var(--white);
    overflow: hidden;

    --bg-image: url("../../assets/images/home_bg.png");
    position: relative;
}

/* Fondo animado */
body::before {
    content: "";
    position: absolute;
    inset: 0;

    background: var(--bg-image) center / cover no-repeat;
    transition: background-image 1.2s ease-in-out;

    z-index: -1;
}

/* =========================
   CENTRO
========================= */

.home-center {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: none;
}


.logo-text {
    width: 30vw;
}

.logo-symbol {
    width: 12vw;
}

.home-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    pointer-events: auto;
}


/* =========================
   NAVBAR
========================= */

.home-nav {
    display: flex;
    align-items: center;
    gap: 28px;
    padding: 18px 24px;
    margin-top: 20px;  /* Para controlar el espacio del nav y el logo */

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 20px;
}


.home-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* Iconos */
.home-nav img {
    width: 26px;
    height: 26px;
    opacity: 0.9;
    cursor: pointer;
    transition: transform 0.25s ease;
}

/* Hover SOLO en el icono */
.home-nav img:hover {
    transform: translateY(-2px) scale(1.08);
}

/* Separadores */
.home-nav a:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -14px;
    height: 100%;
    width: 2px;
    background: rgba(255, 255, 255, 0.3);
    pointer-events: none;
}

/* =========================
   PERFIL
========================= */

.home-avatar {
    position: absolute;
    bottom: 32px;
    left: 32px;

    width: 42px;
    height: 42px;
    border-radius: 50%;

    background: rgba(255, 255, 255, .15);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .4);
}
