<nav class="side-nav">
    <a href="/pages/app/home/home.html">
        <img src="/assets/icons/nav/home.svg" alt="Home">
    </a>

    <a href="/pages/app/solar-system/sistema_solar.html">
        <img src="/assets/icons/nav/planet.svg" alt="Planet">
    </a>

    <a href="/pages/app/map/mapa_estrellas.html">
        <img src="/assets/icons/nav/star.svg" alt="Star map">
    </a>

    <a href="/pages/app/map/mapa-ubicaciónes/mapa-ubicaciones.html">
        <img src="/assets/icons/nav/location.svg" alt="Locations">
    </a>

    <a href="/pages/app/favoritos/favoritos.html">
        <img src="/assets/icons/nav/favourites.svg" alt="Favourites">
    </a>

    <a href="/pages/app/noctis-lab/sistema-solar.html">
        <img src="/assets/icons/nav/information.svg" alt="Information">
    </a>

    <a href="/pages/app/settings/ajustes.html">
        <img src="/assets/icons/nav/settings.svg" alt="Settings">
    </a>
</nav>
