<nav class="side-nav">
    <a href="../home.html">
        <img src="../../../assets/icons/nav/home.svg" alt="Home">
    </a>

    <a href="../sistema_solar/sistema_solar.html">
        <img src="../../../assets/icons/nav/planet.svg" alt="Planet">
    </a>

    <a href="../map/mapa_estrellas.html">
        <img src="../../../assets/icons/nav/star.svg" alt="Star map">
    </a>

    <a href="../map/mapa_ubicaciones.html">
        <img src="../../../assets/icons/nav/location.svg" alt="Locations">
    </a>

    <a href="../favoritos/favoritos.html">
        <img src="../../../assets/icons/nav/favourites.svg" alt="Favourites">
    </a>

    <a href="../noctis-lab/info.html">
        <img src="../../../assets/icons/nav/information.svg" alt="Information">
    </a>

    <a href="../settings/ajustes.html">
        <img src="../../../assets/icons/nav/settings.svg" alt="Settings">
    </a>
</nav>
